{% if categories %}
        <!-- Kategooriad -->
        <div class="well">
            <h4>Kategooriad</h4>
            <div class="row">
                <div class="col-xs-6">
                    <ul class="list-unstyled">
                        {% for category in categories%}
                            {% if not forloop.counter|divisibleby:"2" %}
                                <li><a href="/otsing/{{ category.slug }}">{{ category.title }}</a>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
                <!-- /.col-xs-6 -->
                <div class="col-xs-6">
                    <ul class="list-unstyled">
                        {% for category in categories %}
                            {% if forloop.counter|divisibleby:"2" %}
                                <li><a href="/otsing/{{ category.slug }}">{{ category.title }}</a>
                            {% endif %}
                        {% endfor%}
                    </ul>
                </div>
                <!-- /.col-xs-6 -->
            </div>
            <!-- /.row -->
        </div>
{% endif %}
