{% extends "raspi_blog/header.html" %}

        {% block content %}
        

        <div class="row">

            <!-- Blog Entries Column -->
            <div class="col-md-8">

            <br>
            <h3>Küsimuste ideede ja pakkumistega saab pöörduda:</h3>
            <br>
            <br>
            <h4>Üldinfo:</h4>
            <h5>info@heltico.ee</h5>
            <br>
            <h4>Veebilehe haldaja:</h4>
            <h5>Kaarel Allemann   kaarelallemann@heltico.ee</h5>

            </div>

            <!-- Blog Sidebar Widgets Column -->
            <div class="col-md-4">
                
                {% include 'raspi_blog/categories.html' %}


            </div>

        </div>
        <!-- /.row -->
        
        {% endblock %}