{% extends "raspi_blog/header.html" %}

        {% block content %}
        

        <div class="row">

            <!-- Blog Entries Column -->
            <div class="col-md-8">

            <br>
            
                {% if search %}
                    <br>
                    <h3>Otsing: {{ search }}</h3>
                    <hr>
                {% else %}
                    <hr>
                {% endif %}
                
                
                {% include 'raspi_blog/posts_descriptions.html' %}


                <!-- Pager -->
                {% include 'raspi_blog/pager.html' %}

            </div>

            <!-- Blog Sidebar Widgets Column -->
            <div class="col-md-4">
                
                {% include 'raspi_blog/categories.html' %}


            </div>

        </div>
        <!-- /.row -->
        
        {% endblock %}


