{% if select > 1 or next %}
<ul class="pager">
    {% if select > 1 and is_home %}
    <li class="previous">
        <a href="/{{ select|add:'-1' }}">&larr; Uuemad</a>
    </li>
    {% elif select > 1 and is_search %}
        <li class="previous">
            <a href="/{{ select|add:'-1' }}/otsing/{{ search.split|join:'+' }}">&larr; Uuemad</a>
        </li>
    {% endif %}
    {% if next and is_home %}
        <li class="next">
            <a href="/{{ select|add:'1' }}">Vanemad &rarr;</a>
        </li>
    {% elif next and is_search %}
        <li class="next">
            <a href="/{{ select|add:'1' }}/otsing/{{ search.split|join:'+' }}">Vanemad &rarr;</a>
        </li>
    {% endif %}
</ul>
{% endif %}