
{% if posts %}
    {% for post in posts %}
        <div class="row">
            <div class="col-sm-5">
                <h3>
                    <a href="/{{ post.id }}/{{ post.slug }}">{{ post.title }}</a>
                </h3>
                <br>
                <p><span class="glyphicon glyphicon-pencil"></span>&nbsp;&nbsp;<a href="/otsing/{{ post.author.first_name }}-{{ post.author.last_name }}">{{ post.author.first_name }} {{ post.author.last_name }}</a></p>
                <p><span class="glyphicon glyphicon-tags"></span>&nbsp;&nbsp;
                {% if post.categories.all %}
                    {% for postCategory in post.categories.all %}
                    <a href="/otsing/{{ postCategory.slug }}">
                        {% if forloop.last %}
                            <span>{{ postCategory.title }} </span>
                        {% else %}
                            <span>{{ postCategory.title }} </span>,
                        {% endif %}
                    </a>
                    {% endfor %}
                {% endif %}
                </p>
                <p><span class="glyphicon glyphicon-time"></span>&nbsp;&nbsp;&nbsp;{{ post.posted.time }} {{ post.posted.date}}</p>              
            </div>
            <div class="col-sm-7">
                <img class="img-responsive" src="{{ post.image.url }}" alt="Pilti pole">
            </div>
        </div>
        <br>
        <p>{{ post.introduction|safe }}</p>
        <a class="btn btn-primary" href="/{{ post.id }}/{{ post.slug }}">Loe edasi <span class="glyphicon glyphicon-chevron-right"></span></a>    
        <hr>
    {% endfor %}
{% else %}
<h4>Kahjuks otsingule vasteid ei leitud</h4>
{% endif %}