{% extends "raspi_blog/header.html" %}

        {% load staticfiles %}
        
        
        {% block content %}

        <div class="row">

            <!-- Blog Post Content Column -->
            <div class="col-lg-8">

                <!-- Blog Post -->

                <!-- Title -->
                <h1>{{ post.title }}</h1>

                <!-- Author -->
                <p class="lead">
                    <a href="/otsing/{{ post.author.first_name }}-{{ post.author.last_name }}">{{ post.author.first_name }} {{ post.author.last_name }}</a>
                </p>

                <!-- Date/Time -->
                <p><span class="glyphicon glyphicon-time"></span> {{ post.posted.time }} {{ post.posted.date }}</p>


                <!-- Preview Image -->
                <img class="img-responsive" src="{{ post.image.url }}" alt="">

                <hr>

                <!-- Post Content -->
                <p class="lead">{{post.introduction|safe}}</p>
                
                {{ post.body|safe }}

                <hr>

                <!-- Blog Comments -->
                <h3>
                    Kommentaarid:
                </h3>
                <!-- Comment -->
                {% for comment in comments %}
                    <div class="media">
                        <div class="media-body">
                            <h4 class="media-heading">{{comment.name}}
                                <small>{{ comment.posted.time }} {{ comment.posted.date }}</small>
                            </h4>
                            {{ comment.comment|linebreaks }}
                        </div>
                    </div>
                {% endfor %}
                <hr>
                
                <!-- Comments Form -->
                <div class="well">
                    <h4>Jäta küsimus või kommentaar:</h4>
                    <form role="form" method="post" >
                        {% csrf_token %}
                    
                        <div class="form-group row">
                            <div class="col-xs-6">
                                {{ comment_form.name }}
                            </div>
                            <div class="col-xs-6">
                                {{ comment_form.email }}
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-xs-12">
                                {{ comment_form.comment }}
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-xs-10">
                                <div>
                                    {{ comment_form.captcha }}
                                </div>
                            </div>
                            <div class="col-xs-2">
                                <input type="submit" style="float:right;" class="btn btn-primary" value="Saada">
                            </div>
                        </div>
                    </form>
                </div>

                <hr>
                



            </div>

            <!-- Blog Sidebar Widgets Column -->
            <div class="col-md-4">

                <!-- Blog Categories Well -->
                {% include 'raspi_blog/categories.html' %}
 

            </div>

        </div>
        <!-- /.row -->
        
        
        {% endblock %}

