{% extends "raspi_blog/header.html" %}

        {% block content %}
        

        <div class="row">

            <!-- Blog Entries Column -->
            <div class="col-md-8">
                <!-- Blog Search Well -->
                <div class="well">
                    <h4>Otsing</h4>
                    <form action="/otsing/" method="post">
                        {% csrf_token %}
                        <div class="input-group">
                                <input type="text" id="search" name="search" class="form-control" value="{{ search }}">
                            </form>
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="submit">
                                    <span class="glyphicon glyphicon-search"></span>
                            </button>
                            </span>
                        </div>
                    </form>
                    <!-- /.input-group -->
                </div>
                
                <hr>
                
                {% include 'raspi_blog/posts_descriptions.html' %}



                <!-- Pager -->
                {% include 'raspi_blog/pager.html' %}

            </div>

            <!-- Blog Sidebar Widgets Column -->
            <div class="col-md-4">

                {% include 'raspi_blog/categories.html' %}


            </div>

        </div>
        <!-- /.row -->
        
        {% endblock %}


